[submodule "clash"]
	path = clash
	url = https://github.com/ZalerC/zalerc.github.com.git
[submodule "yacd"]
	path = yacd
	url = https://github.com/ZalerC/zalerc.github.com.git
[submodule "ariang"]
	path = ariang
	url = https://github.com/ZalerC/zalerc.github.com.git
[submodule "yaaw"]
	path = yaaw
	url = https://github.com/ZalerC/zalerc.github.com.git
[submodule "docs/pysciter"]
	path = docs/pysciter
	url = https://github.com/ZalerC/zalerc.github.com.git
	branch = extends/docs/pysciter
